In [1]:
import pandas as pd
import numpy as np

In [2]:
df_230215_total = pd.read_excel('~/study/DIC/DIC4/data/230215_total.xlsx')
df_230215_stable = pd.read_excel('~/study/DIC/DIC4/data/230215_stable.xlsx')

In [3]:
df_230215_total = df_230215_total.dropna(axis='index',subset=['reg_date']).reset_index(drop=True)

In [4]:
df_230215_total['label_org'] = df_230215_total['label_org'].fillna('NA')

In [5]:
df_230215_merge = pd.merge(left=df_230215_total, right=df_230215_stable[['idx','label_new']], on='idx', how='left')

In [6]:
df_230215_merge.label_org.unique()

array(['안정화', 'PDA', '1A', '10A', '100A', '1C', '10C', '10B', '100B',
       '1000B', 'NA', '10M', '100M', '1000M'], dtype=object)

In [7]:
df_230215_merge.loc[df_230215_merge['label_new'].isna(),'안정화'] = 0
df_230215_merge.loc[~df_230215_merge['label_new'].isna(),'안정화'] = 1

In [19]:
df_230215_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5715 entries, 0 to 5714
Data columns (total 22 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   idx        5715 non-null   float64
 1   temp       5715 non-null   float64
 2   humi       5715 non-null   float64
 3   reg_date   5715 non-null   datetime64[ns]
 4   C7H8       5715 non-null   object
 5   TMA        5715 non-null   object
 6   VOC        5715 non-null   object
 7   CO2        5715 non-null   object
 8   HCHO       5715 non-null   object
 9   H2S        5715 non-null   object
 10  NH3        5715 non-null   object
 11  CH3SH      5715 non-null   object
 12  SO2        5715 non-null   object
 13  NO2        5715 non-null   object
 14  CO         5715 non-null   object
 15  sm_idx     5715 non-null   float64
 16  sms        5715 non-null   float64
 17  ou         5715 non-null   float64
 18  sm_kind    5715 non-null   object
 19  label_org  5715 non-null   object
 20  label_new  2032 non-null   object
 21  안정화        5715 non-null   float64
dtypes: datetime64[ns](1), float64(7), object(14)
memory usage: 1.0+ MB

In [9]:
df_230215_merge.to_excel('~/study/DIC/DIC4/data/230215_data_concat.xlsx',index=False)

In [10]:
df_230227_total = pd.read_excel('~/study/DIC/DIC4/data/230227_total.xlsx')
df_230227_stable = pd.read_excel('~/study/DIC/DIC4/data/230227_stable.xlsx')

In [11]:
# df_230227_stable.rename(columns={'Unnamed: 20':'label_new'},inplace=True)
df_230227_total.drop(labels='reg_date.1', axis='columns', inplace=True)

In [12]:
df_230227_total = df_230227_total.dropna(axis='index',subset=['reg_date']).reset_index(drop=True)

In [13]:
df_230227_total['label_org'] = df_230227_total['label_org'].fillna('NA')

In [14]:
df_230227_merge = pd.merge(left=df_230227_total, right=df_230227_stable[['idx','label_new']], on='idx', how='left')

In [16]:
df_230227_merge.loc[df_230227_merge['label_new'].isna(),'안정화'] = 0
df_230227_merge.loc[~df_230227_merge['label_new'].isna(),'안정화'] = 1

In [17]:
df_230227_merge.label_org.unique()

array(['안정화', 'NA', 'PDA', 'PE-4', 'PE-5', 'PE-6', 'A-3', 'A-4', 'A-5',
       'Mo-2', 'Mo-3', 'Mo-4', 'B-4', 'B-5', 'B-6', 'C0', 'C-1', 'M-2',
       'M-3', 'M-4', 'En-5', 'En-6'], dtype=object)

In [20]:
df_230227_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6619 entries, 0 to 6618
Data columns (total 22 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   idx        6619 non-null   float64
 1   temp       6619 non-null   float64
 2   humi       6619 non-null   float64
 3   reg_date   6619 non-null   datetime64[ns]
 4   C7H8       6619 non-null   object
 5   TMA        6619 non-null   object
 6   VOC        6619 non-null   object
 7   CO2        6619 non-null   object
 8   HCHO       6619 non-null   object
 9   H2S        6619 non-null   object
 10  NH3        6619 non-null   object
 11  CH3SH      6619 non-null   object
 12  SO2        6619 non-null   object
 13  NO2        6619 non-null   object
 14  CO         6619 non-null   object
 15  sm_idx     6619 non-null   float64
 16  sms        6619 non-null   float64
 17  ou         6619 non-null   float64
 18  sm_kind    6619 non-null   object
 19  label_org  6619 non-null   object
 20  label_new  1469 non-null   object
 21  안정화        6619 non-null   float64
dtypes: datetime64[ns](1), float64(7), object(14)
memory usage: 1.2+ MB

In [18]:
df_230227_merge.to_excel('~/study/DIC/DIC4/data/230227_data_concat.xlsx',index=False)

In [21]:
df_230312_total = pd.read_excel('~/study/DIC/DIC4/data/230312_total.xlsx')
df_230312_stable = pd.read_excel('~/study/DIC/DIC4/data/230312_stable.xlsx')

In [22]:
# df_230227_stable.rename(columns={'Unnamed: 20':'label_new'},inplace=True)
df_230312_total.drop(labels='reg_date.1', axis='columns', inplace=True)

In [23]:
df_230312_total = df_230312_total.dropna(axis='index',subset=['reg_date','label_org']).reset_index(drop=True)

In [24]:
df_230312_merge = pd.merge(left=df_230312_total, right=df_230312_stable[['idx','label_new']], on='idx', how='left')

In [25]:
df_230312_merge.loc[df_230312_merge['label_new'].isna(),'안정화'] = 0
df_230312_merge.loc[~df_230312_merge['label_new'].isna(),'안정화'] = 1

In [29]:
df_230312_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 529 entries, 0 to 528
Data columns (total 22 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   idx        529 non-null    float64
 1   temp       529 non-null    float64
 2   humi       529 non-null    float64
 3   reg_date   529 non-null    datetime64[ns]
 4   C7H8       529 non-null    object
 5   TMA        529 non-null    object
 6   VOC        529 non-null    object
 7   CO2        529 non-null    object
 8   HCHO       529 non-null    object
 9   H2S        529 non-null    object
 10  NH3        529 non-null    object
 11  CH3SH      529 non-null    object
 12  SO2        529 non-null    object
 13  NO2        529 non-null    object
 14  CO         529 non-null    object
 15  sm_idx     529 non-null    float64
 16  sms        529 non-null    float64
 17  ou         529 non-null    float64
 18  sm_kind    529 non-null    object
 19  label_org  529 non-null    object
 20  label_new  395 non-null    object
 21  안정화        529 non-null    float64
dtypes: datetime64[ns](1), float64(7), object(14)
memory usage: 95.1+ KB

In [27]:
df_230312_merge.to_excel('~/study/DIC/DIC4/data/230312_data_concat.xlsx',index=False)

In [30]:
df_230320_total = pd.read_excel('~/study/DIC/DIC4/data/230320_total.xlsx')
df_230320_stable = pd.read_excel('~/study/DIC/DIC4/data/230320_stable.xlsx')

In [33]:
# df_230227_stable.rename(columns={'Unnamed: 20':'label_new'},inplace=True)
df_230320_total.drop(labels='reg_date.1', axis='columns', inplace=True)

In [34]:
df_230320_total = df_230320_total.dropna(axis='index',subset=['reg_date']).reset_index(drop=True)

In [35]:
df_230320_total['label_org'] = df_230320_total['label_org'].fillna('NA')

In [36]:
df_230320_merge = pd.merge(left=df_230320_total, right=df_230320_stable[['idx','label_new']], on='idx', how='left')

In [37]:
df_230320_merge.loc[df_230320_merge['label_new'].isna(),'안정화'] = 0
df_230320_merge.loc[~df_230320_merge['label_new'].isna(),'안정화'] = 1

In [40]:
df_230320_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 625 entries, 0 to 624
Data columns (total 22 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   idx        625 non-null    float64
 1   temp       625 non-null    float64
 2   humi       625 non-null    float64
 3   reg_date   625 non-null    datetime64[ns]
 4   C7H8       625 non-null    object
 5   TMA        625 non-null    object
 6   VOC        625 non-null    object
 7   CO2        625 non-null    object
 8   HCHO       625 non-null    object
 9   H2S        625 non-null    object
 10  NH3        625 non-null    object
 11  CH3SH      625 non-null    object
 12  SO2        625 non-null    object
 13  NO2        625 non-null    object
 14  CO         625 non-null    object
 15  sm_idx     625 non-null    float64
 16  sms        625 non-null    float64
 17  ou         625 non-null    float64
 18  sm_kind    625 non-null    object
 19  label_org  625 non-null    object
 20  label_new  526 non-null    object
 21  안정화        625 non-null    float64
dtypes: datetime64[ns](1), float64(7), object(14)
memory usage: 112.3+ KB

In [39]:
df_230320_merge.to_excel('~/study/DIC/DIC4/data/230320_data_concat.xlsx',index=False)